:root.theme-light {
  --font-weight: 400;
  --title-font-weight: 700;
  --bg-color: #fff;
  --accent-color: #000;
  --gradient-color-st: #d3d3d3;
  --gradient-color-nd: #e7e7e7;
  --gradient-color-rd: #1a1a1a;
  --bg-image: repeating-linear-gradient(to right, var(--gradient-color-st) 0px 2px, transparent 2px 4px),
              repeating-linear-gradient(to bottom, var(--gradient-color-st) 0px 2px, transparent 2px 4px),
              linear-gradient(to bottom, var(--gradient-color-nd) 0.01%, var(--gradient-color-rd));
}

@media (prefers-color-scheme: light) {
  :root {
    --font-weight: 400;
    --title-font-weight: 700;
    --bg-color: #fff;
    --accent-color: #000;
    --gradient-color-st: #d3d3d3;
    --gradient-color-nd: #e7e7e7;
    --gradient-color-rd: #1a1a1a;
    --bg-image: repeating-linear-gradient(to right, var(--gradient-color-st) 0px 2px, transparent 2px 4px),
                repeating-linear-gradient(to bottom, var(--gradient-color-st) 0px 2px, transparent 2px 4px),
                linear-gradient(to bottom, var(--gradient-color-nd) 0.01%, var(--gradient-color-rd));
  }

  .button__text {
    color: var(--bg-color);
    mix-blend-mode: difference;
  }

  .floppy {
    color: #fff;
    mix-blend-mode: difference;
  }
}

:root.theme-dark {
    --font-weight: 465;
    --title-font-weight: 785;
    --bg-color: #000;
    --accent-color: #00cc14;
    --gradient-color-st: #000;
    --gradient-color-nd: #007f0c;
    --gradient-color-rd: #004306;
    --bg-image: repeating-linear-gradient(to right, var(--gradient-color-st) 0px 2px, transparent 2px 4px),
                repeating-linear-gradient(to bottom, var(--gradient-color-st) 0px 2px, transparent 2px 4px),
                linear-gradient(to bottom, var(--gradient-color-nd), var(--gradient-color-rd));
}
  
@media (prefers-color-scheme: dark) {
    :root {
      --font-weight: 465;
      --title-font-weight: 785;
      --bg-color: #000;
      --accent-color: #00cc14;
      --gradient-color-st: #000;
      --gradient-color-nd: #007f0c;
      --gradient-color-rd: #004306;
      --bg-image: repeating-linear-gradient(to right, var(--gradient-color-st) 0px 2px, transparent 2px 4px),
                  repeating-linear-gradient(to bottom, var(--gradient-color-st) 0px 2px, transparent 2px 4px),
                  linear-gradient(to bottom, var(--gradient-color-nd), var(--gradient-color-rd));
    }

    .button__text{
      color: var(--accent-color);
      mix-blend-mode: difference;
    }
    
    .floppy{
      color: #00cc14;
      mix-blend-mode: difference;
    }
}